@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom utilities */
@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-red-100 to-red-500;
  }

  .glass-card {
    @apply bg-neutral-950/50 backdrop-blur-md border border-neutral-800/50;
  }
}
